@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
  background: linear-gradient(#fff, rgb(125, 174, 223), rgb(221, 226, 231));
  font-family: 'Raleway', sans-serif;
}
.navbar {
  background-color: #1e3646;
}
#about {
  margin-top: 150px;
}

#about img {
  width: 85%;
}
.social {
  list-style-type: none;
  font-size: 1.5rem;
  margin-left: -6vh;
}

.social li {
  padding: 10px;
}

@media screen and (max-width: 570px) {
  .about-info {
    margin-top: 30px;
  }
  .about-img {
    margin-bottom: 50px;
  }
}
