@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/assets/pics/bg2.jpg');
  font-family: 'Raleway', sans-serif;
}

.navbar {
  background-color: #1e3646;
}
.contact {
  margin-top: 150px;
}
.info h3,
h2,
label,
.btn {
  color: rgb(189, 216, 238);
}
.info p {
  color: rgb(186, 208, 235);
}
.info h3 i {
  color: rgb(68, 117, 173);
}
.btn:hover {
  color: rgb(189, 216, 238);
}
.form-control {
  color: rgb(229, 232, 245);
  background-color: wheat;
}
.form-control:focus {
  color: rgb(229, 232, 245);
}
