@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body {
  background: linear-gradient(#fff, rgb(125, 174, 223), rgb(221, 226, 231));
  font-family: 'Raleway', sans-serif;
}
hr {
  color: white;
  white-space: 50%;
}
#projects {
  margin-top: 100px;
}
.navbar {
  background-color: #355063;
}
.card {
  box-shadow: 2px 2px 2px rgb(40, 40, 40, 0.5);
  cursor: pointer;
  transition: all 0.5s;
  width: 18rem;
}
.card:hover {
  transform: translateY(-1rem) scale(1.05);
}
.card .fa:hover {
  color: aliceblue;
}

.containr h2 span {
  background: #fff;
  color: #1e3646;
  font-size: 100px;
}
.card-body {
  background: linear-gradient(
    135deg,
    rgb(253, 253, 253) 55%,
    rgb(69, 133, 228)
  );
}

@media screen and (max-width: 570px) {
  .projects {
    margin-left: 5vw;
  }
}
