@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body {
  background: linear-gradient(#fff, rgb(125, 174, 223), rgb(221, 226, 231));
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
}
hr {
  color: white;
  white-space: 50%;
}
#projects {
  margin-top: 100px;
}
.navbar {
  background-color: #1e3646;
}
.card {
  box-shadow: 2px 2px 2px rgb(40, 40, 40, 0.5);
  cursor: pointer;
  transition: all 0.5s;
}
.card:hover {
  transform: translateY(-1rem) scale(1.05);
}
.card .fa:hover {
  color: aliceblue;
}
h1 {
  color: #1e3646;
}
.card-title {
  color: #3d9ddd;
  font-weight: 700;
}
.card-body {
  background: linear-gradient(
    135deg,
    rgb(253, 253, 253) 55%,
    rgb(69, 133, 228)
  );
}
.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
/* 
@media screen and (max-width: 570px) {
  .container-fluid {
    padding-right: 10px;
  }
} */
