@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#fff, rgb(125, 174, 223), rgb(221, 226, 231));
  font-family: 'Raleway', sans-serif;

  height: 100vh;
}

.navbar {
  background-color: #1e3646;
}

#skills {
  margin-top: 150px;
}

.card {
  background: inherit;
  border: none;
  padding: 10px 10px;
}
.card-title {
  color: #1e3646;
}
.card img {
  height: 100%;
  width: 150px;
}
h1 {
  font-weight: 900;
  color: #1e3646;
}

@media screen and (max-width: 570px) {
  .row {
    padding-left: 15vw;
  }
}
